@font-face {
	font-family: 'MankSans';
	src: url('MankSans.ttf') format('truetype');
}
.button {
   border-top: 1px solid #fa086d;
   background: #fc005c;
   background: -webkit-gradient(linear, left top, left bottom, from(#de079a), to(#fc005c));
   background: -webkit-linear-gradient(top, #de079a, #fc005c);
   background: -moz-linear-gradient(top, #de079a, #fc005c);
   background: -ms-linear-gradient(top, #de079a, #fc005c);
   background: -o-linear-gradient(top, #de079a, #fc005c);
   padding: 2px 4px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #b3b3b3;
   font-size: 24px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #e80e70;
   background: #e80e70;
   color: #000000;
   }
.button:active {
   border-top-color: #fc0505;
   background: #fc0505;
   }